{
  "__inherits": "staxel/docks/dockBase.config",
  "prefetchTileState": true,
  "customRendererVoxels": "mods/Basic Staples/workbenches/DeepFreezer.qb",
  "animation": "aaa.mods.mb.BasicStaples.boneAnimation.DeepFreezer",
  "interactActionTrigger": "aaa.mods.mb.BasicStaples.entityAction.OpenFreezerAction",
  "dockDefinition": "aaa.mods.mb.BasicStaples.docks.DeepFreezer"
}
